.main{
	-fx-background-color: linear-gradient( white,white ,lightblue);

}
.menu-bar{
	-fx-background-color: -fx-primary;	
	-fx-font-family: agency;	
	-fx-font-size:15px;
	-fx-text-fill:white;
}
.menu-bar .menu{	
	-fx-text-fill:white;
}
.VBox{
  -fx-background-color: linear-gradient(to top right,#7ed56f,#28b485 ,#2998ff,#5643fa);
  -fx-box-shadow:white;
}

.JFXButton{
-fx-border-radius: 50px;
-fx-background-radius:50px;
-fx-border-color:gray;
}

.clrButton{
	
}

.clrButton:hover{
	-fx-background-color:rgb(203, 203, 203);
}
.clrButton:clicked{
	-fx-background-color:white;
}